<!DOCTYPE HTML>
<html>

<head>
	<meta charset="UTF-8">
	<title>Flight Aid | Order</title>
	{% include 'head.html' %}
</head>

	<body>
		<div class='container'>
			<div class="slider-wrapper">
				<div class="slider">
					<div class="slide-navigation__squares">
						<div class="squares-wrapper">
						</div>
					</div>
					<div class="trackslides-container">
						<div class="slide-wrapper">
				<div class='row marketing'>
					<div class='col-lg-6'>
						<p><div id="indexmap"></div></p>
					</div>
					<div class='col-lg-12'>
						<form class="form-inline" action="/track" method="POST">
							<div class='form-group'>
								<input class='form-control' type="text" name="lat" id="lat" placeholder="Latitude" value="" />
							</div>
							<div class='form-group'>
								<input class='form-control' type="text" name="lon" id="lon" placeholder="Longitude" value="" />
							</div><br>
							<div class='form-group'>
								<input class='form-control' type="text" name="name" id="name" placeholder="Name" value="" />
							</div>
							<select class="selectpicker" name="medicine">
								<option value="insulin">Insulin</option>
								<option value="epipen">Epipen</option>
								<option value="inhaler">Inhaler</option>
							</select>
							<button type="submit" class="btn btn-default">Go</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="slide-navigation__txt">
			<ul>
				<li><a href="/"><span data-order="2">Home</span></a></li>
				<li><span data-order="1">Order Drone</span></li>
				<li><a href="/track"><span data-order="3">Track</span></a></li>
			</ul>
		</div>
	</div>
</div>
			<footer class='footer'>
				<p>&copy; Lisa, Elif, Jess | Thanks to DroneKit!</p>
			</footer>
			</div>
		{% include 'bottom-scripts.html' %}
		<script type="text/javascript" charset="utf-8">
			L.mapbox.accessToken = '{{options.access_token}}';
			var currentCoords = [{{ options.current_coords[0] }}, {{ options.current_coords[1] }}];
			var homeCoords = [{{ options.home_coords[0] }}, {{ options.home_coords[1] }}];
			var homeMarker = L.marker(homeCoords, {
				icon: L.mapbox.marker.icon({
					'marker-size': 'small',
					'marker-symbol': 'building',
					'marker-color': '#fa0'
				})
			});
			var vehicleMarker = function(location){
				return L.marker(location, {
					'marker-size': 'large',
					'marker-symbol': 'heliport',
					'marker-color': '#fa0'
				})
			}
			var map = L.mapbox.map('indexmap', '{{options.mapid}}');
			var userMarker = L.marker([0, 0], {
				icon: L.mapbox.marker.icon({
					'marker-color': '#f86767'
				}),
				draggable: true
			});
			homeMarker.addTo(map);
			vehicleMarker(currentCoords).addTo(map);
			userMarker.addTo(map);
			map.setView(currentCoords, {{ options.zoom }});
			map.on('click', function(event) {
				userMarker.setLatLng(event.latlng)
				$('#lat').val(event.latlng.lat);
				$('#lon').val(event.latlng.lng);
			});
		</script>
	</body>
</html>
